/* || RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* || VARIABLES */
:root {
  /* FONTS SIZE */
  font-size: 62.5%;
  --LG-HEADING: clamp(2.2rem, 1.5vw + 1.5rem, 3.5rem);
  --MD-HEADING: clamp(1.5rem, 1vw + 1rem, 2.3rem);
  --SM-HEADING: clamp(1.4rem, 0.8vw + 0.8rem, 1.9rem);
  --GENERAL-TEXT: clamp(1.2rem, 0.7vw + 0.7rem, 1.6rem);

  /* COLORS */
  --TEXT-RED: #E63946;
  --TEXT-WHITE: #F4F4F4;
  --TEXT-BLACK: #333;
  --TEXT-GRAY: #555;

  --BGCOLOR-DARK: #263238;
  --BGCOLOR-WHITE: #FFF;
  --BGCOLOR-GRAY: #DDD;
  --BTN-PRIMARY-HOVER: #DDD;
  --BTN-SECONDARY-HOVER: #FCF3F2;

  --HEADER-BGIMAGE: linear-gradient(to right, #0000FF80, #00009E80);
  --HEADER-CONTENT-BGCOLOR: #00008033;
  --BOX-BGIMAGE: linear-gradient(25deg, #D64C7F, #EE4758 50%);
  --BOX-SHADOW: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* || UTILITY CLASSES */
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

.lg-heading {
  font-size: var(--LG-HEADING);
}

.md-heading {
  font-size: var(--MD-HEADING);
}

.sm-heading {
  font-size: var(--SM-HEADING);
}

.general-text {
  font-size: var(--GENERAL-TEXT);
}

.text-red {
  color: var(--TEXT-RED);
}

.text-white {
  color: var(--TEXT-WHITE);
}

.text-black {
  color: var(--TEXT-BLACK);
}

.text-gray {
  color: var(--TEXT-GRAY);
}

.bg-dark {
  background-color: var(--BGCOLOR-DARK);
}

.bg-white {
  background-color: var(--BGCOLOR-WHITE);
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  margin: 0.5em 0;
  border-radius: 100px;
  transition: background-color 300ms ease-in-out;
}

.btn--primary {
  background-color: var(--BGCOLOR-WHITE);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--BTN-PRIMARY-HOVER);
  outline: none;
}

.btn--secondary {
  border: 1px solid var(--TEXT-RED);
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-color: var(--BTN-SECONDARY-HOVER);
  outline: none;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

p {
  font-size: var(--GENERAL-TEXT);
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

/* || HEADER */
.header {
  height: max(475px, 95vh);
  position: relative;
  background: var(--HEADER-BGIMAGE), url('../img/header-image.jpg');
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  box-shadow: var(--BOX-SHADOW);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.navbar__logo {
  font-weight: bold;
  position: relative;
}

.navbar__logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--TEXT-RED);
  height: 2px;
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__list a {
  margin-left: calc(40px + 3vw);
  position: relative;
}

.navbar__list a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  background-color: var(--TEXT-RED);
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.navbar__list a:hover::before,
.navbar__list a:focus::before {
  transform: scaleX(1);
}

.header__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--HEADER-CONTENT-BGCOLOR);
}

.header__heading {
  font-weight: 700;
}

/* || HERO SECTION */
.hero {
  background-color: var(--BGCOLOR-GRAY);
  padding: 10em 0;
}

.hero__item {
  box-shadow: var(--BOX-SHADOW);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
}

.hero__item:first-child {
  margin-bottom: 10em;
}

.hero__item:last-child .hero__img-box {
  order: 1;
}

.hero__text-box {
  padding: 3em;
}

/* || FEATURES SECTION */
.features {
  padding: 10em 0;
}

.features .container {
  display: flex;
  box-shadow: var(--BOX-SHADOW);
}

.features__box {
  padding: 2em;
  text-align: center;
}

.features__box:nth-child(2) {
  background: var(--BOX-BGIMAGE);
}

/* || FOOTER */
.footer {
  height: calc(9vw + 7rem);
  padding: 2rem;
  text-align: center;
  box-shadow: var(--BOX-SHADOW);
}

.social-media-links i {
  margin: 2rem;
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .navbar .container {
    flex-direction: column;
  }

  .hero__item:last-child .hero__img-box {
    order: 0;
  }

  .hero__text-box {
    text-align: center;
  }

  .features .container {
    flex-direction: column;
    gap: 7em;
    box-shadow: none;
  }

  .features__box {
    box-shadow: var(--BOX-SHADOW);
  }
}

@media (max-width: 575.98px) {
  .hero {
    padding: 7em 0;
  }

  .navbar .container {
    flex-direction: column;
  }

  .header__heading {
    display: none;
  }

  .hero__item:last-child .hero__img-box {
    order: 0;
  }

  .hero__text-box {
    text-align: center;
  }

  .hero__item:first-child {
    margin-bottom: 7em;
  }

  .features {
    padding: 7em 0;
  }

  .features .container {
    flex-direction: column;
    gap: 4em;
    box-shadow: none;
  }

  .features__box {
    box-shadow: var(--BOX-SHADOW);
  }

  .social-media-links i {
    margin: 0 1.5rem 1rem;
  }
}


/* || ABOUT PAGE */
.about {
  padding: 10em 0;
}

.about__heading::after {
  content: "";
  display: block;
  border: 1px solid var(--TEXT-RED);
  width: 100%;
}

.about__wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.about__wrapper li::before {
  content: "\2713";
  color: var(--TEXT-RED);
  font-weight: bold;
  padding-right: 1em;
}

.counts {
  margin-top: 3em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.count__item span {
  font-weight: 600;
}

.count__content {
  font-weight: 700;
}

.cta-banner {
  background: var(--BOX-BGIMAGE);
  padding: 1em;
  box-shadow: var(--BOX-SHADOW);
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-banner__text {
  font-weight: 700;
  margin-block: 1em;
}

.cta-banner__btn {
  display: inline-block;
  font-weight: 700;
  border: 3px solid var(--TEXT-WHITE);
  padding-inline: 1em;
  letter-spacing: 0.5rem;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cta-banner__btn {
    font-size: var(--MD-HEADING);
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .count__item span {
    font-size: var(--MD-HEADING);
  }

  .cta-banner__btn {
    font-size: var(--MD-HEADING);
    letter-spacing: 0.3rem;
  }
}

@media (max-width: 575.98px) {
  .about {
    padding: 7em 0;
  }

  .about__heading {
    font-size: var(--MD-HEADING);
  }

  .count__item span {
    font-size: var(--MD-HEADING);
  }

  .count__content {
    font-size: var(--GENERAL-TEXT);
  }

  .cta-banner__text {
    font-size: var(--GENERAL-TEXT);
    font-weight: normal;
  }

  .cta-banner__btn {
    font-size: var(--SM-HEADING);
    letter-spacing: 0.2rem;
  }
}


/* || CONTACT PAGE */
.contact {
  background-color: var(--BGCOLOR-GRAY);
  padding: 10em 0;
}

.contact__wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.company-address {
  flex-basis: 50%;
  padding: 1em;
}

.company-address__icon {
  display: inline-block;
  margin-right: 0.3em;
}

.company-address__heading {
  display: inline-block;
  text-transform: uppercase;
}

.company-address__group {
  margin-bottom: 3em;
}

.company-address .img-div {
  max-width: 90%;
  position: relative;
  overflow: hidden;
}

.img-content h3 {
  white-space: nowrap;
}

.img-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.img-div:hover .img-content {
  opacity: 1;
  left: 50%;
}

.img-div::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0 100% 100% 100%;
  background-color: rgba(0, 0, 0, 0.616);
  transition: opacity 0.2s ease-in;
}

.img-div:hover::after {
  inset: 0;
}

.form-div {
  flex-basis: 50%;
  padding: 1em;
}

.form-div__heading::after {
  content: "";
  display: block;
  border: 2px solid var(--TEXT-RED);
  width: 100%;
  margin-bottom: 1em;
}

.contact-form__fieldset {
  border: none;
  margin-bottom: 1.2em;
}

.contact-form label {
  display: block;
  font-size: var(--GENERAL-TEXT);
}

.contact-form input,
.contact-form textarea {
  padding: 0.5em;
  width: 100%;
}

.contact-form__btn {
  display: block;
  margin: 0 auto;
  padding-inline: 3em;
  background-color: var(--TEXT-RED);
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .contact__wrapper {
    flex-direction: column;
  }

  .company-address__icon {
    font-size: var(--MD-HEADING);
  }

  .company-address__heading {
    font-size: var(--SM-HEADING);
  }
}

@media (max-width: 575.98px) {
  .contact {
    padding: 7em 0;
  }

  .contact__wrapper {
    flex-direction: column;
  }

  .company-address__icon {
    font-size: var(--MD-HEADING);
  }

  .company-address__heading {
    font-size: var(--SM-HEADING);
  }
}